.account {
  text-align: center;
  display: none;
  background-color: #A5A36C;
  box-shadow: 5px 5px 2.5px #535233;
  border: 1px solid;
  border-color: #8C873E;
  border-radius: 25px;
  padding: 15px;
  margin-top: 15px;
}

#sign-up, #deposit-withdraw {
  background-color: #E0DFB1;
  box-shadow: 5px 5px 2.5px #535233;
  border: 1px solid;
  border-radius: 15px;
  border-color: #8C873E;
  width: 500px;
  padding: 15px;
  text-align: center;
}

#sign-up {
  float:left;
}

#deposit-withdraw {
  display: none;
}
